<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="refreshMinutes" value="2000"/>
    <add key="lastUpdate" value=""/>
    <add key="url" value="http://www.dealabs.com/rss/new.xml"/>
    <add key="filtre" value="@"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
